.article-step {
	padding: rem(8);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #484848;
	border-radius: rem(5);
	box-shadow: 0 0 rem(15) rgba(0, 0, 0, 0.2);
	&__factoid {
		width: 176px;
		height: 176px;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url('../img/article-step__bg.svg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		text-align: center;
		flex-direction: column;
		color: $accent;
		width: 50%;
	}
	&__content {
		width: 50%;
	}
	&__number {
		font-size: rem(64);
		font-family: $font-title;
		line-height: 1.1;
	}
	&__title {
		color: $light;
		margin-bottom: rem(18);
		font-weight: 300;
	}
}