.header {
	&--front {
		min-height: 100vh;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	&__info {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-grow: 1;
		flex-wrap: wrap;
		@include r(1200) {
			justify-content: space-around;
		}
	}
}