.section {
	padding-top: rem(90);
	padding-bottom: rem(90);
	overflow: hidden;
	&--20 {
		padding-top: rem(20);
		padding-bottom: rem(20);
	}
	&--40 {
		padding-top: rem(40);
		padding-bottom: rem(40);
	}
	&--intro {
		padding-top: rem(110);
		padding-bottom: rem(50);
	}
	&--discript {
		padding-top: rem(10);
		padding-bottom: rem(40);
	}
	&--dark {
		background-color: $dark;
		color: $light;
	}
	&--bordered {
		border-bottom: 1px solid #4F4F4F;
	}
	&--bg {
		background-size: cover;
		background-position: center;
	}
	&--gradient {
		background: radial-gradient(48.51% 48.51% at 48.16% 51.49%, #344045 2.6%, #393737 100%), #393737;
	}
	&--map {
		position: relative;
		padding-top: rem(94);
		padding-bottom: rem(94);
	}
}