.nav {
	display: flex;
	align-items: center;
	&__link {
		font-weight: 400;
		margin-right: rem(50);
		flex-shrink: 0;
		text-decoration: none;
		&:hover {
			color: $accent;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
}