.flex {
	display: flex;
	align-items: center;
	&--grow {
		flex-grow: 1;
	}
	&--space-between {
		justify-content: space-between;
		@include r(1200) {
			flex-direction: column;
			justify-content: center;
		}
	}
	&--flex-end {
		justify-content: flex-end;
	}
}