<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Балтрегион</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="page" id="page">
        @@include("../blocks/modules/header/header.html")
        <section class="section--dark section--intro section--gradient">
            <div class="container">
                @@include("../blocks/modules/intro/intro.html")
            </div>
        </section>
        <section class="section" id="anchor-gallery">
            <div class="container">
                <h2 class="title mb-60">
                    Рендеры отеля
                </h2>
            </div>
            <div class="container">
                @@include("../blocks/modules/slider/slider.html")
            </div>
        </section>
        <section class="section section--dark section--bordered" id="anchor-plan">
            <div class="container">
                <h2 class="title mb-60">
                    Планировка <strong>этажей</strong>
                </h2>
                <div class="columns">
                    <div class="columns__column columns__column--4 mb-20">
                        <article class="article-step">
                            <div class="article-step__factoid">
                                <p class="article-step__number">1</p>
                                <p class="article-step__text">этаж</p>
                            </div>
                            <div class="article-step__content">
                                <p class="article-step__title">
                                    Подвал
                                </p>
                                <a href="" class="btn btn--accent">
                                    <span class="btn__text">
                                        Скачать PDF
                                    </span>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="columns__column columns__column--4 mb-20">
                        <article class="article-step">
                            <div class="article-step__factoid">
                                <p class="article-step__number">2</p>
                                <p class="article-step__text">этаж</p>
                            </div>
                            <div class="article-step__content">
                                <p class="article-step__title">
                                    Подвал
                                </p>
                                <a href="" class="btn btn--accent">
                                    <span class="btn__text">
                                        Скачать PDF
                                    </span>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="columns__column columns__column--4 mb-20">
                        <article class="article-step">
                            <div class="article-step__factoid">
                                <p class="article-step__number">3</p>
                                <p class="article-step__text">этаж</p>
                            </div>
                            <div class="article-step__content">
                                <p class="article-step__title">
                                    Подвал
                                </p>
                                <a href="" class="btn btn--accent">
                                    <span class="btn__text">
                                        Скачать PDF
                                    </span>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="columns__column columns__column--4 mb-20">
                        <article class="article-step">
                            <div class="article-step__factoid">
                                <p class="article-step__number">4</p>
                                <p class="article-step__text">этаж</p>
                            </div>
                            <div class="article-step__content">
                                <p class="article-step__title">
                                    Подвал
                                </p>
                                <a href="" class="btn btn--accent">
                                    <span class="btn__text">
                                        Скачать PDF
                                    </span>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="columns__column columns__column--4 mb-20">
                        <article class="article-step">
                            <div class="article-step__factoid">
                                <p class="article-step__number">5</p>
                                <p class="article-step__text">этаж</p>
                            </div>
                            <div class="article-step__content">
                                <p class="article-step__title">
                                    Подвал
                                </p>
                                <a href="" class="btn btn--accent">
                                    <span class="btn__text">
                                        Скачать PDF
                                    </span>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="columns__column columns__column--4 mb-20">
                        <article class="article-step">
                            <div class="article-step__factoid">
                                <p class="article-step__number">6</p>
                                <p class="article-step__text">этаж</p>
                            </div>
                            <div class="article-step__content">
                                <p class="article-step__title">
                                    Подвал
                                </p>
                                <a href="" class="btn btn--accent">
                                    <span class="btn__text">
                                        Скачать PDF
                                    </span>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="columns__column columns__column--4 columns__column--clear"></div>
                    <div class="columns__column columns__column--4 columns__column--clear"></div>
                    <div class="columns__column columns__column--4 columns__column--clear"></div>
                </div>
            </div>
        </section>
        <section class="section section--bg section--dark" style="background-image: url('./img/section-doc-bg.jpg');" id="anchor-docs">
            <div class="container">
                <h2 class="title mb-60">
                    Документы <strong>для скачивания</strong>
                </h2>
                <div class="columns">
                    <div class="columns__column columns__column--5 mb-16">
                        <a href="" target="_blank" class="article-link">
                            <p class="article-link__title">
                                Заключение экспертизы от 13.12.2019 г.
                            </p>
                            <svg class="article-link__icon">
                                <use xlink:href="img/sprites/sprite.svg#icon-file-link"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="columns__column columns__column--1 columns__column--clear mob-hidden"></div>
                    <div class="columns__column columns__column--5 mb-16">
                        <a href="" target="_blank" class="article-link">
                            <p class="article-link__title">
                                Разрешение на строительство от 22.05.19 г.
                            </p>
                            <svg class="article-link__icon">
                                <use xlink:href="img/sprites/sprite.svg#icon-file-link"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="columns__column columns__column--1 columns__column--clear mob-hidden"></div>
                    <div class="columns__column columns__column--5 mb-16">
                        <a href="" target="_blank" class="article-link">
                            <p class="article-link__title">
                                Письмо экспертизы от 21.04.2019 г.
                            </p>
                            <svg class="article-link__icon">
                                <use xlink:href="img/sprites/sprite.svg#icon-file-link"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="columns__column columns__column--1 columns__column--clear mob-hidden"></div>
                    <div class="columns__column columns__column--5 mb-16">
                        <a href="" target="_blank" class="article-link">
                            <p class="article-link__title">
                                Договор купли-продажи от 19.12.2020 г.
                            </p>
                            <svg class="article-link__icon">
                                <use xlink:href="img/sprites/sprite.svg#icon-file-link"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="columns__column columns__column--1 columns__column--clear mob-hidden"></div>
                    <div class="columns__column columns__column--5 mb-16">
                        <a href="" target="_blank" class="article-link">
                            <p class="article-link__title">
                                Разрешение экобалтрегион от 27.08.2020 г.
                            </p>
                            <svg class="article-link__icon">
                                <use xlink:href="img/sprites/sprite.svg#icon-file-link"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="columns__column columns__column--1 columns__column--clear mob-hidden"></div>
                    <div class="columns__column columns__column--5 mb-16">
                        <a href="" target="_blank" class="article-link">
                            <p class="article-link__title">
                                Выписка из ЕГРН
                            </p>
                            <svg class="article-link__icon">
                                <use xlink:href="img/sprites/sprite.svg#icon-file-link"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="columns__column columns__column--1 columns__column--clear mob-hidden"></div>
                    <div class="columns__column columns__column--5 mb-16">
                        <a href="" target="_blank" class="article-link">
                            <p class="article-link__title">
                                Ввод Герцена
                            </p>
                            <svg class="article-link__icon">
                                <use xlink:href="img/sprites/sprite.svg#icon-file-link"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="columns__column columns__column--1 columns__column--clear mob-hidden"></div>
                    <div class="columns__column columns__column--5 columns__column--clear mob-hidden"></div>
                    <div class="columns__column columns__column--1 columns__column--clear mob-hidden"></div>
                    <div class="columns__column columns__column--5 columns__column--clear mob-hidden"></div>
                    <div class="columns__column columns__column--1 columns__column--clear mob-hidden"></div>
                    <div class="columns__column columns__column--5 columns__column--clear mob-hidden"></div>
                    <div class="columns__column columns__column--1 columns__column--clear mob-hidden"></div>
                </div>
            </div>
        </section>
        <section class="section" id="anchor-progress">
            <div class="container">
                <h2 class="title mb-60">
                    Ход строительства
                </h2>
                <div class="articles">
                    <div class="articles__content mb-20">
                        <div class="columns">
                            <div class="columns__column columns__column--4">
                                @@include("../blocks/modules/article-post/article-post.html")
                            </div>
                            <div class="columns__column columns__column--4">
                                @@include("../blocks/modules/article-post/article-post.html")
                            </div>
                            <div class="columns__column columns__column--4">
                                @@include("../blocks/modules/article-post/article-post.html")
                            </div>
                            <div class="columns__column columns__column--4">
                                @@include("../blocks/modules/article-post/article-post.html")
                            </div>
                            <div class="columns__column columns__column--4">
                                @@include("../blocks/modules/article-post/article-post.html")
                            </div>
                            <div class="columns__column columns__column--4">
                                @@include("../blocks/modules/article-post/article-post.html")
                            </div>
                            <div class="columns__column columns__column--4">
                                @@include("../blocks/modules/article-post/article-post.html")
                            </div>
                            <div class="columns__column columns__column--4">
                                @@include("../blocks/modules/article-post/article-post.html")
                            </div>
                            <div class="columns__column columns__column--4">
                                @@include("../blocks/modules/article-post/article-post.html")
                            </div>
                            <div class="columns__column columns__column--4 columns__column--clear"></div>
                            <div class="columns__column columns__column--4 columns__column--clear"></div>
                            <div class="columns__column columns__column--4 columns__column--clear"></div>
                        </div>
                    </div>
                    <div class="articles__toolbar">
                        <button class="btn btn--accent">
                            <span class="btn__text">
                                Загрузить еще
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--map" id="anchor-contacts">
            @@include("../blocks/modules/map/map.html")
            <div class="container container--relative container--flex-end">
                @@include("../blocks/modules/block-contacts/block-contacts.html")
            </div>
        </section>
        @@include("../blocks/modules/footer/footer.html")
        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </div>
    <div class="hidden" style="display: none;">
        @@include("../blocks/modules/modal/modal.html")
    </div>
</body>
</html>
