.field {
	display: block;
	&__name {
		color: #828282;
		font-size: rem(14);
		margin-bottom: rem(5);
	}
	&__input {
		padding-top: rem(8);
		padding-bottom: rem(8);
		display: block;
		border: none;
		width: 100%;
		font-family: $font-main;
		border-bottom: 1px solid #E0E0E0;
		font-size: rem(14);
		&::placeholder {
			color: #BDBDBD;
			font-family: $font-main;
		}
	}
	&__textarea {
		padding-top: rem(8);
		padding-bottom: rem(8);
		display: block;
		width: 100%;
		border: none;
		resize: none;
		font-family: $font-main;
		border-bottom: 1px solid #E0E0E0;
		font-size: rem(14);
		&::placeholder {
			color: #BDBDBD;
			font-family: $font-main;
		}
	}
}